/* family font */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(64, 64, 64);
  color: white;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-layout {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

#bg-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.glassfilter {
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 2;
}

#profile-pic-holder {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: rgba(167, 166, 166, 0.726);
  outline: 5px solid rgba(0, 0, 0, 0.671);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  backdrop-filter: blur(50px);
  
}

#profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  align-self: center;
  background-image: url(../images/icons/ic_user_white.png);
  background-size: contain;
  background-position: center;
}

#username {
  font-size: 30px;
  margin-top: 10px;

}

#sgn-w-google-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width:  calc(100% - 40px);
  margin-left: 20px;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.658);
  outline: 2px solid rgba(0, 0, 0, 0.308);
  border-radius: 13px;
  backdrop-filter: blur(50px);
  cursor: pointer;
}

#google-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-image: url(../images/brand_icons/ic_google_brand.png);
  pointer-events: none;
}

#sgn-w-google-txt {
  color: black;
  font-size: 20px;
  font-weight: 600;
  pointer-events: none;
}

#INFO-section {
position: absolute;
top: 350px;
align-items: start;
}

#side-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.171);
  backdrop-filter: blur(20px);
}

/*book*/

#book{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 350px
}

#page-1{
width:  calc(100% - 350px);
padding: 20px;
justify-items: center;
justify-content: center;
}

.side-btn{
  width: 100%;
  max-height: 30px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  text-align: start;
  overflow: hidden;
  cursor: pointer;
}

#my-info-btn{

}

#my-address-btn{

}

#payment-methods-btn{

}

#order-history-btn{

}

#sign-out-btn{
color: red;
}

.pages{
width: calc(100% - 350px);
height: 100vh;
padding: 20px;
justify-items: center;
justify-content: center;
}

#page-1 {
  display: block;
}
#page-2 {
  background-color: tomato;
  display: none;
}
#page-3 {
  background-color: lightgreen;
  display: none;
}
#page-4 {
  background-color: rgb(0, 27, 145);
  display: none;
}