/* family font */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(64, 64, 64);
  color: white;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-layout {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: repeat;
  background-image: url(../images/backgrounds/ink-stroke-wallpaper.png);
  overflow: hidden;
  box-sizing: border-box;
}

.glassfilter {
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

#profile-pic-holder {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(167, 166, 166, 0.726);
  outline: 5px solid rgba(0, 0, 0, 0.671);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  backdrop-filter: blur(50px);
  
}

#profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  align-self: center;
  background-image: url(../images/icons/ic_user_white.png);
  background-size: contain;
  background-position: center;
}

#username {
  font-size: 40px;
  margin-top: 10px;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

#sgn-w-google-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.658);
  outline: 2px solid rgba(0, 0, 0, 0.308);
  border-radius: 13px;
  backdrop-filter: blur(50px);
  cursor: pointer;
}

#google-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-image: url(../images/brand_icons/ic_google_brand.png);
  pointer-events: none;
}

#sgn-w-google-txt {
  color: black;
  font-size: 20px;
  font-weight: 600;
  pointer-events: none;
}

#INFO-section {
position: absolute;
top: 350px;
align-items: start;
}