/* family font */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(64, 64, 64);
  color: white;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 64, 64);
  height: 100%;
  width: 100%;
}

#username {
  font-size: 40px;
  margin-top: 10px;
}

#sgn-w-google-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-top: 20px;

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

#google-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/icons/brand/ic_google_rgb.png?raw=true);
  pointer-events: none;
}

#sgn-w-google-txt {
  color: black;
  font-size: 20px;
  font-weight: 600;
  pointer-events: none;
}
