/* family font */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(64, 64, 64);
  color: white;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: fit-content;
  background-size: contain;
  background-repeat: repeat;
  background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/backgrounds/background2_myaccount.png?raw=true);
  overflow: hidden;
  box-sizing: border-box;
}

.glassfilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: opacity(0.5) blur(10px);
}

#profile-pic-holder {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0. 0. 200);
  outline: 5px solid rgba(0, 0, 0, 0.671);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  backdrop-filter: blur(50px);
  
}

#profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  align-self: center;
  background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/icons/ic-profile-white.png?raw=true);
  background-size: contain;
  background-position: center;
}

#username {
  font-size: 40px;
  margin-top: 10px;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

#sgn-w-google-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-top: 20px;

  background-color: rgb(255, 255, 255);
    outline: 5px solid rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  cursor: pointer;
}

#google-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/icons/brand/ic_google_rgb.png?raw=true);
  pointer-events: none;
}

#sgn-w-google-txt {
  color: black;
  font-size: 20px;
  font-weight: 600;
  pointer-events: none;
}
