/* family font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap');

*{
margin: 0;
padding: 0;
  
font-family: "Caveat", cursive;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}

input{
accent-color: rgb(64,64,64);
}

body{
height: 100%;
background-color: rgb(242,242,242);
}

#menu_bar{
width: 100%;
height: 50px;
padding: 10px;
background-color: rgb(64,64,64);
display: flex;
justfiy-content: center;
align-items: center;
box-shadow: 0px 0px 50px black;
}

#profile_picture{
width: 45px;
height: 45px;

}

#search_icon{
width: 45px;
height: 45px
}

#main_title{
width: 100%;
color: rgb(255, 255, 255);
text-align: center;
}

