/* family font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap');

/*off screen menu*/
.off-screen-menu{
background-color: gray;
width: 100%;
height: 100vh;
max-width: 450px;
position: fixed;
top: 0;
right: -450px;
display: flex;
flex-direction: colums;
justify-content: center;
align-items: center;
text-align: center;
transition: .3s ease;
}
.off-screen-menu.active{
right: 0;
}

nav{
padding: 1rem;
display: flex;
}

.ham-menu{
height: 50px;
width: 50px;
margin-left: auto;
position: relative;
}

.ham-menu span{
height: 7px;
width: 100%;
background-color: white;
border-radius: 25px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: .3s ease;
}

.ham-menu span:nth-child(1){
top: 25%;
}
.ham-menu span:nth-child(3){
top: 75%
}

.ham-menu.active span:nth-child(1){
top: 50%;
transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
opacity: 0;
}
.ham-menu.active span:nth-child(3){
top: 50%;
transform: translate(-50%, -50%) rotate(-45deg);
}

li{
color: white;
}

*{
margin: 0;
padding: 0;
  
font-family: "Caveat", cursive;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}

input{
accent-color: rgb(64,64,64);
}

body{
height: 100%;
background-color: rgb(64,64,64);
}

#background{
max-width: 100%;
max-height: fit-content;
padding-bottom: 200%;
background-size: contain;
background-repeat: repeat;
background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/backgrounds/background1_main.png?raw=true);
}

#menu_bar{
max-width: 100%;
height: 50px;
padding: 10px;
background-color: rgb(64,64,64);
display: flex;
align-items: center;
box-shadow: 0px 0px 50px black;
}

#shopping_cart{
width: 45px;
height: 45px;
position: absolute;
right: 75px;
}

#search_icon{
width: 45px;
height: 45p;
position: absolute;
right: 10px;
}

#main_title{
width: 100%;
color: rgb(255, 255, 255);
font-family: "Caesar Dressing", system-ui;
font-weight: 400;
font-style: normal;
text-align: center;
position: absolute;
left: 0;
}

