/* family font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caveat:wght@700&family=Momo+Signature&family=Quicksand:wght@300..700&display=swap');

/*off screen menu*/
.off-screen-menu{
background-color: transparent;
backdrop-filter: blur(50px);
width: 100%;
height: 100vh;
max-width: 450px;
position: fixed;
top: 0;
right: -450px;
display: flex;
flex-direction: colums;
justify-content: center;
align-items: center;
text-align: center;
transition: .3s ease;
z-index: 10;
}
.off-screen-menu.active{
right: 0;
}

nav{
padding: 1rem;
display: flex;
}

.ham-menu{
height: 50px;
width: 50px;
margin-left: auto;
position: relative;
z-index: 10;
}

.ham-menu span{
height: 7px;
width: 100%;
background-color: white;
border-radius: 25px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: .3s ease;
}

.ham-menu span:nth-child(1){
top: 25%;
}
.ham-menu span:nth-child(2){
top: 50%;
}
.ham-menu span:nth-child(3){
top: 75%
}

.ham-menu.active span:nth-child(1){
top: 50%;
transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
opacity: 0;
}
.ham-menu.active span:nth-child(3){
top: 50%;
transform: translate(-50%, -50%) rotate(-45deg);
}

li{
color: white;
}

*{
margin: 0;
padding: 0;
  
font-family: "Caveat", cursive;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}

input{
accent-color: rgb(64,64,64);
}

body{
height: 100%;
background-color: rgb(64,64,64);
}

#background{
max-width: 100%;
max-height: fit-content;
padding-bottom: 200%;
background-size: contain;
background-repeat: repeat;
background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/backgrounds/background1_main.png?raw=true);
}

#menu_bar{
max-width: 100%;
height: 50px;
padding: 10px;
background-color: rgb(64,64,64);
display: flex;
align-items: center;
box-shadow: 0px 0px 50px black;
}

#shopping_cart{
width: 45px;
height: 45px;

}

#sh-card{
width: 45px;
height: 45px;
position: absolute;
right: 15px;
}

#sh-card::after {
content: "0";
position: absolute;
width: 20px;
height: 20px;
background-color: red;
border-radius: 50%;
color: white;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 15px;
top: -10px;
right: -5px;
}

#search_icon{
width: 45px;
height: 45p;
position: absolute;
right: 75px;
}

#main_title{
width: 100%;
color: rgb(255, 255, 255);
font-family: "Caesar Dressing", system-ui;
font-weight: 400;
font-style: normal;
text-align: center;
position: absolute;
left: 0;
}


.section_title{
max-width: 100%;
color: rgb(255, 255, 255);
font-size: 50px;
position: relative;
top: 20px;
left: 20px;
-webkit-text-stroke: 1px rgb(0, 0, 0);
text-shadow: 5px 5px 9px rgb(0, 0, 0);

}

/* main grid*/

.main-grid{
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: 1fr;
   width: fit-content;
   gap: 10px;
   overflow-x: auto;
   position: relative;
   top: 20px;
   scrollbar-width: none;
   left: 20px;
}


/* product cards*/

.tap-sensor{
height: auto;
width: 100%;
position: relative;
z-index: 6;
}

.pr-card{
height: 300px;
width: 350px;
background-color: transparent;
border-radius: 25px;
box-shadow: 0px 0px 50px ;
position: relative;
backdrop-filter: blur(10px);
box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
}
.price-box{
    max-height: fit-content;
    max-width: fit-content;
    background-color: transparent;
    outline: 2px solid rgba(0, 0, 0, 0.164);
    padding: 2px;
    opacity: 0.6;
    border-radius: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    backdrop-filter: blur(50px);
    z-index: 3;
}

.price-number{
    color: rgb(0, 255, 115);
    text-align: center;
    position: relative;
    text-shadow: 10px 10px 6px rgb(0, 0, 0);
    right: 3px;
}

.pr-name {
width: 100%;
height: 35px;
color: rgb(255, 255, 255);
padding: 5px;
position: absolute;
left: 10px;
bottom: 0;
font-size: 25px;
-webkit-text-stroke: 1px rgb(0, 0, 0);
text-shadow: 1px 1px 9px rgb(255, 255, 255);
}

.pr-img {
    height: 250px;
    width: 350px;
    border-radius: 25px;
    position: relative;
}

.pr-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

/* grid cards*/
/*imaes*/
.card1{
background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/backgrounds/IMG_0231.jpg?raw=true);
object-fit: contain;
}
.card2{
background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/backgrounds/insung-yoon-mru38VH7tII-unsplash.jpg?raw=true);
object-fit: contain;
}
.card3{
background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/backgrounds/sam-grozyan-SJmrfth38ig-unsplash.jpg%20-%20Copy.png?raw=true);
object-fit: contain;
}
.card4{
background-image: url(https://github.com/ddwwS1/-prte-dw/blob/main/store-project/UI/backgrounds/gijs-coolen-xyY5GohSfUw-unsplash.jpg?raw=true);
object-fit: contain;
}
